<div style="width:100%; height: 100px; background-color: pink;">
    <header>
        <nav>
            <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about-us">About us</a></li>
                    <li><a href="/admin/profile-page">Profile</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>