
<% layout('layout') -%>


<div style="width:100%; height: 50px;">
    <p>This is about us</p>
    <img src="https://images.pexels.com/photos/20820846/pexels-photo-20820846.jpeg" alt="about Image" width="500">

</div>