<%- layout('layout')%>
<div style="width:200%; height: 50px;">
    <p>This is contact us</p>
    <img src="https://images.pexels.com/photos/4498479/pexels-photo-4498479.jpeg" alt="contact Image" width="500">

</div>